@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* stylelint-disable-next-line import-notation */
@import 'tailwindcss';

/* Tailwind config */
/* stylelint-disable-next-line import-notation */
@import 'flowbite/src/themes/default';

/* stylelint-disable-next-line at-rule-no-unknown */
@plugin 'flowbite/plugin';

/* stylelint-disable-next-line at-rule-no-unknown */
@source '../../../node_modules/flowbite';

/* stylelint-disable-next-line at-rule-no-unknown */
@custom-variant dark (&:where(.dark, .dark *));

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  /* stylelint-disable-next-line value-keyword-case */
  --font-logo:
    'Poppins', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* stylelint-disable-next-line custom-property-pattern */
  --color-primary-50: #fffbeb;
  --color-primary-100: #fef3c7;
  --color-primary-200: #fde68a;
  --color-primary-300: #fcd34d;
  --color-primary-400: #fbbf24;
  --color-primary-500: #f59e0b;
  --color-primary-600: #d97706;
  --color-primary-700: #b45309;
  --color-primary-800: #92400e;
  --color-primary-900: #78350f;
  --color-primary-950: #451a03;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* You can add global styles to this file, and also import other style files */
