<div class="p-4 text-gray-500 dark:text-gray-400">
  <h2
    class="m-4 mt-0 text-center text-2xl font-semibold text-gray-900 sm:mb-10 sm:mt-4 dark:text-white"
  >
    Gold Jewellery Price Calculator
  </h2>

  <!-- Gold Price Telegram Channel -->
  <div
    id="alert-5"
    class="flex items-center rounded-lg bg-gray-50 p-4 dark:bg-gray-800"
    role="alert"
  >
    <svg
      class="h-4 w-4 flex-shrink-0 dark:text-gray-300"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
      />
    </svg>
    <span class="sr-only">Info</span>

    <div class="ms-3 text-sm font-medium text-gray-800 dark:text-gray-300">
      Join our
      <a
        href="https://t.me/tngoldprice"
        target="_blank"
        class="font-semibold underline hover:no-underline"
        >Telegram Channel</a
      >
      to get daily gold jewellery price updates and predictions.
    </div>

    <button
      type="button"
      class="-mx-1.5 -my-1.5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-gray-50 p-1.5 text-gray-500 hover:bg-gray-200 focus:ring-2 focus:ring-gray-400 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"
      data-dismiss-target="#alert-5"
      aria-label="Close"
    >
      <span class="sr-only">Dismiss</span>
      <svg
        class="h-3 w-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
    </button>
  </div>

  <form (ngSubmit)="calculateTotalPrice()" class="mt-4">
    <section class="grid grid-cols-1 md:grid-cols-2 md:gap-10">
      <main>
        <!-- Gold Weight Input -->
        <div class="mb-6">
          <label
            for="gold-weight"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Gold Weight (grams)</label
          >
          <input
            type="number"
            id="gold-weight"
            [(ngModel)]="goldWeight"
            (change)="calculateTotalPrice()"
            name="gold-weight"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>

        <!-- Wastage Percentage -->
        <div class="mb-6">
          <label
            for="wastage"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Wastage/Value Addition (%)</label
          >
          <input
            type="number"
            id="wastage"
            [(ngModel)]="wastagePercentage"
            (change)="calculateTotalPrice()"
            name="wastage"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>

        <!-- Making Charge -->
        <div class="mb-6">
          <label
            for="making-charge"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Making Charge (&#8377;)</label
          >
          <input
            type="number"
            id="making-charge"
            [(ngModel)]="makingCharge"
            (change)="calculateTotalPrice()"
            name="making-charge"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>

        <!-- Gold Price Per Gram -->
        <div class="mb-6">
          <div class="mb-2 flex items-center">
            <label
              for="gold-price-per-gram"
              class="block text-sm font-medium text-gray-900 dark:text-white"
              >Gold Price (1 gram)
            </label>
            <span data-tooltip-target="tooltip-info" class="cursor-pointer ps-1"
              ><svg
                class="h-4 w-4 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>

            <div
              id="tooltip-info"
              role="tooltip"
              class="tooltip invisible absolute z-50 inline-block rounded-lg bg-yellow-400 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-yellow-500"
            >
              Auto-populated with today's online gold price.<br />Please confirm
              with the seller.
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>

          <div class="relative">
            <input
              type="number"
              id="gold-price-per-gram"
              [(ngModel)]="goldPricePerGram"
              (change)="calculateTotalPrice()"
              name="gold-price-per-gram"
              class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder=""
              required
              [readonly]="showPriceLoading"
            />

            @if (showPriceLoading) {
            <div
              role="status"
              class="absolute right-3 top-2/4 -translate-y-1/2"
            >
              <svg
                aria-hidden="true"
                class="inline h-4 w-4 animate-spin fill-gray-600 text-gray-200 dark:fill-gray-300 dark:text-gray-600"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill"
                />
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
            }
          </div>
        </div>

        <!-- Calculate Button -->
        <div class="flex w-full justify-center">
          <button
            type="submit"
            class="bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4 sm:w-auto"
          >
            Calculate
          </button>
        </div>
      </main>

      <aside>
        @if (totalAmountPayable > 0) {
        <div class="mt-6">
          <div class="grid grid-cols-3 items-center gap-x-10 gap-y-2">
            <p
              class="col-span-2 leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              Gold Price
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              {{ goldPrice | number : '1.0-0' }}
            </p>

            <p
              class="col-span-2 leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              Wastage/Value Addition (W/VA)
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              {{ wastageValue | number : '1.0-0' }}
            </p>
            <p
              class="col-span-2 leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              Making Charge (MC)
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              {{ makingCharge | number : '1.0-0' }}
            </p>
            <p
              class="col-span-2 leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              Tax
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              {{ tax | number : '1.0-0' }}
            </p>
          </div>

          <h3
            class="mt-6 text-center text-xl font-bold leading-none tracking-tight text-gray-900 dark:text-white"
          >
            Total =
            <mark
              class="rounded bg-blue-600 px-2 py-1 text-2xl font-extrabold text-white dark:bg-blue-500"
              >{{ totalAmountPayable | number : '1.0-0' }}</mark
            >
          </h3>

          <!-- Doughnut Chart -->
          <section
            class="mt-6 w-full rounded-lg bg-white p-4 shadow md:p-6 dark:bg-gray-800"
          >
            <h2
              class="mb-4 block text-center text-sm font-medium text-gray-900 dark:text-white"
            >
              Jewel Price Breakdown
            </h2>
            <div class="relative mt-10">
              <div
                class="absolute -top-5 left-0 flex h-full w-full flex-col items-center justify-center"
              >
                <div class="text-2xl font-bold text-black dark:text-white">
                  {{ totalAmountPayable | number:'1.0-0' }}
                </div>
                <div>Total</div>
              </div>
              <div class="relative h-80 w-full">
                <canvas
                  baseChart
                  [type]="ChartType.DOUGHNUT"
                  [data]="priceBreakdownChartData"
                  [options]="priceBreakdownChartOptions"
                ></canvas>
              </div>
            </div>
          </section>
        </div>
        }
      </aside>
    </section>
  </form>
</div>
