<div class="p-4 text-gray-500 dark:text-gray-400">
  <h2
    class="m-4 mt-0 text-center text-2xl font-semibold text-gray-900 sm:mb-10 sm:mt-4 dark:text-white"
  >
    Fixed Deposit Calculator
  </h2>

  <form (ngSubmit)="calculateMaturityAmount()" class="mt-4">
    <section class="mb-6 grid grid-cols-1 md:grid-cols-2 md:gap-10">
      <main>
        <!-- Deposit Amount -->
        <div class="mb-6">
          <label
            for="deposit-amount"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Deposit Amount</label
          >
          <input
            type="number"
            id="deposit-amount"
            name="depositAmount"
            [(ngModel)]="depositAmount"
            (change)="calculateMaturityAmount()"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>

        <!-- Annual Interest Rate -->
        <div class="mb-6">
          <label
            for="annual-interest-rate"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Annual Interest Rate</label
          >
          <input
            type="number"
            id="annual-interest-rate"
            name="annualInterestRate"
            [(ngModel)]="annualInterestRate"
            (change)="calculateMaturityAmount()"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>

        <!-- Deposit Term -->
        <div class="mb-6">
          <label
            for="deposit-term"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Deposit Term</label
          >
          <div class="grid grid-cols-3 gap-2">
            <!-- Years -->
            <div class="flex flex-col items-center sm:flex-row">
              <label
                for="deposit-term-years"
                class="mb-2 block text-xs font-medium text-gray-900 sm:mb-0 sm:mr-2 dark:text-white"
                >Years</label
              >
              <input
                type="number"
                min="0"
                id="deposit-term-years"
                name="depositTermYears"
                [(ngModel)]="depositTermYears"
                (change)="calculateMaturityAmount()"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="Years"
              />
            </div>
            <!-- Months -->
            <div class="flex flex-col items-center sm:flex-row">
              <label
                for="deposit-term-months"
                class="mb-2 block text-xs font-medium text-gray-900 sm:mb-0 sm:mr-2 dark:text-white"
                >Months</label
              >
              <input
                type="number"
                min="0"
                id="deposit-term-months"
                name="depositTermMonths"
                [(ngModel)]="depositTermMonths"
                (change)="calculateMaturityAmount()"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="Months"
              />
            </div>
            <!-- Days -->
            <div class="flex flex-col items-center sm:flex-row">
              <label
                for="deposit-term-days"
                class="mb-2 block text-xs font-medium text-gray-900 sm:mb-0 sm:mr-2 dark:text-white"
                >Days</label
              >
              <input
                type="number"
                min="0"
                id="deposit-term-days"
                name="depositTermDays"
                [(ngModel)]="depositTermDays"
                (change)="calculateMaturityAmount()"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder="Days"
              />
            </div>
          </div>
        </div>

        <!-- Compounding Frequency -->
        <div class="mb-6">
          <label
            for="compounding-frequency"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Compounding Frequency</label
          >
          <select
            id="compounding-frequency"
            name="compoundingFrequency"
            [(ngModel)]="compoundingFrequency"
            (change)="onCompoundingFrequencyChange()"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          >
            @for (frequency of availableCompoundingFrequencies; track
            frequency.key) {
            <option [ngValue]="frequency.value">{{ frequency.key }}</option>
            }
          </select>
        </div>

        <!-- Interest Payout Type -->
        <div class="mb-6">
          <label
            for="interest-payout-type"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Interest Payout Type</label
          >
          <select
            id="interest-payout-type"
            name="interestPayoutType"
            [(ngModel)]="interestPayoutType"
            (change)="calculateMaturityAmount()"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          >
            @for (payoutType of getAvailableInterestPayoutTypes(); track
            payoutType.key) {
            <option [ngValue]="payoutType.key">{{ payoutType.value }}</option>
            }
          </select>
        </div>

        <!-- Investment Start Date -->
        <div class="mb-6">
          <label
            for="investment-start-date"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Deposit Start Date</label
          >
          <div class="relative">
            <div
              class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
            >
              <svg
                class="h-4 w-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                />
              </svg>
            </div>
            <input
              #investmentStartDateInput
              type="text"
              id="investment-start-date"
              name="investmentStartDate"
              [ngModel]="investmentStartDate | date : 'dd/MM/yyyy'"
              (ngModelChange)="onInvestmentStartDateChange($event)"
              class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 ps-10 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="DD/MM/YYYY"
              required
              readonly
            />
          </div>
        </div>

        <!-- Calculate Button -->
        <div class="flex w-full justify-center">
          <button
            type="submit"
            class="bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4 sm:w-auto"
          >
            Calculate
          </button>
        </div>
      </main>

      <aside>
        <div class="mt-6">
          <!-- Display Results -->
          <div class="grid grid-cols-2 items-center gap-x-10 gap-y-2">
            <p
              class="leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              Principal Amount
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              {{ depositAmount | number: '1.0-0' }}
            </p>
            <p
              class="leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              Interest Earned
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              {{ interestEarned | number: '1.0-0' }}
            </p>

            @if (maturityDate) {
            <p
              class="leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              Maturity Date
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              {{ maturityDate | date: 'mediumDate' }}
            </p>
            }

            <p
              class="flex items-center leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              Effective Yield
              <span
                data-tooltip-target="tooltip-info"
                class="cursor-pointer ps-1"
                ><svg
                  class="h-4 w-4 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>

              <span
                id="tooltip-info"
                role="tooltip"
                class="tooltip invisible absolute z-50 inline-block rounded-lg bg-yellow-400 px-3 py-2 text-center text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-yellow-500"
              >
                Simple interest rate that would yield the same total interest
                over the same time period.
                <div class="tooltip-arrow" data-popper-arrow></div>
              </span>
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              {{ effectiveYield | number: '1.2-2' }}%
            </p>

            <p
              class="leading-none tracking-tight text-gray-800 dark:text-gray-300"
            >
              {{ interestPayoutType === InterestPayoutType.Maturity ? 'Maturity
              Amount' : 'Average ' +
              interestPayoutTypesMap.get(interestPayoutType) + ' Payout' }}
            </p>
            <p class="text-right font-bold text-black dark:text-white">
              <span
                class="rounded bg-blue-600 px-2 py-1 text-2xl font-extrabold text-white dark:bg-blue-500"
                >{{ (interestPayoutType === InterestPayoutType.Maturity ?
                maturityAmount : averagePayout) | number: '1.0-0' }}</span
              >
            </p>
          </div>

          <!-- Doughnut Chart -->
          <section
            class="mt-6 w-full rounded-lg bg-white p-4 shadow md:p-6 dark:bg-gray-800"
          >
            <h2
              class="mb-4 block text-center text-sm font-medium text-gray-900 dark:text-white"
            >
              Investment & Earnings Breakdown
            </h2>
            <div class="relative mt-6">
              <div
                class="absolute -top-5 left-0 flex h-full w-full flex-col items-center justify-center"
              >
                <div class="text-2xl font-bold text-black dark:text-white">
                  {{ (depositAmount + interestEarned) | number:'1.0-0' }}
                </div>
                <div>Total</div>
              </div>
              <div class="relative h-80 w-full">
                <canvas
                  #earningsChart
                  baseChart
                  [type]="ChartType.DOUGHNUT"
                  [data]="depositChartData"
                  [options]="depositChartOptions"
                >
                </canvas>
              </div>
            </div>
          </section>
        </div>
      </aside>
    </section>
  </form>

  <div class="mt-10">
    <!-- Tabs Select -->
    <div class="mt-6 flex items-center sm:hidden">
      <label
        for="tabs"
        class="me-2 text-sm font-medium text-gray-900 dark:text-white"
        >View</label
      >
      <select
        id="tabs"
        [ngModel]="activeTab"
        (ngModelChange)="onTabChange($event)"
        class="flex-1 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      >
        @if (annualSummary.length > 0) {
        <option [value]="Tabs.ANNUAL_SUMMARY">Annual Summary</option>
        } @if (compoundingSummary.length > 0) {
        <option [value]="Tabs.COMPOUNDING_SUMMARY">Compounding Summary</option>
        } @if (payoutSchedule.length > 0) {
        <option [value]="Tabs.PAYOUT_SCHEDULE">Interest Payout Schedule</option>
        } @if (financialYearSummary.length > 0) {
        <option [value]="Tabs.FINANCIAL_YEAR_SUMMARY">
          Financial Year Summary
        </option>
        }
      </select>
    </div>

    <!-- Tabs -->
    <ul
      class="mt-6 hidden flex-wrap border-b border-gray-200 text-center text-sm font-medium text-gray-500 sm:flex dark:border-gray-700 dark:text-gray-400"
    >
      @if (annualSummary.length > 0) {
      <li class="me-2" (click)="activeTab = Tabs.ANNUAL_SUMMARY">
        <p
          class="inline-block cursor-pointer rounded-t-lg p-4"
          [class.active]="activeTab === Tabs.ANNUAL_SUMMARY"
        >
          Annual Summary
        </p>
      </li>
      } @if (compoundingSummary.length > 0) {
      <li class="me-2" (click)="activeTab = Tabs.COMPOUNDING_SUMMARY">
        <p
          class="inline-block cursor-pointer rounded-t-lg p-4"
          [class.active]="activeTab === Tabs.COMPOUNDING_SUMMARY"
        >
          Compounding Summary
        </p>
      </li>
      } @if (payoutSchedule.length > 0) {
      <li class="me-2" (click)="activeTab = Tabs.PAYOUT_SCHEDULE">
        <p
          class="inline-block cursor-pointer rounded-t-lg p-4 hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300"
          [class.active]="activeTab === Tabs.PAYOUT_SCHEDULE"
        >
          Interest Payout Schedule
        </p>
      </li>
      } @if (financialYearSummary.length > 0) {
      <li class="me-2" (click)="activeTab = Tabs.FINANCIAL_YEAR_SUMMARY">
        <p
          class="inline-block cursor-pointer rounded-t-lg p-4"
          [class.active]="activeTab === Tabs.FINANCIAL_YEAR_SUMMARY"
        >
          Financial Year Summary
        </p>
      </li>
      }
    </ul>
  </div>

  @if (activeTab === Tabs.ANNUAL_SUMMARY && annualSummary.length > 0) {
  <section
    class="mt-4 w-full rounded-lg bg-white p-4 shadow md:p-6 dark:bg-gray-800"
  >
    <div
      #annualSummaryChartContainer
      class="relative w-full bg-white dark:bg-gray-800"
      [ngClass]="isChartInFullscreen ? 'h-full' : 'h-80'"
    >
      <canvas
        #annualSummaryChart
        baseChart
        [type]="ChartType.BAR"
        [data]="annualSummaryChartData"
        [options]="annualSummaryChartOptions"
        [class.m-4]="isChartInFullscreen"
      >
      </canvas>

      <div
        class="absolute"
        [ngClass]="isChartInFullscreen ? 'block bottom-2 right-3' : 'block sm:hidden -bottom-3 -right-1'"
      >
        <button
          (click)="toggleFullscreen(Charts.ANNUAL_SUMMARY)"
          type="button"
          class="rounded-lg p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          @if (isChartInFullscreen) {
          <span class="sr-only">Minimize</span>

          <svg
            class="h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 9h4m0 0V5m0 4L4 4m15 5h-4m0 0V5m0 4 5-5M5 15h4m0 0v4m0-4-5 5m15-5h-4m0 0v4m0-4 5 5"
            />
          </svg>
          } @else {
          <span class="sr-only">Expand</span>

          <svg
            class="h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"
            />
          </svg>
          }
        </button>
      </div>
    </div>
  </section>

  <section class="relative mt-6 overflow-x-auto rounded-lg">
    <table
      class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
    >
      <thead
        class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="p-2 py-3 text-center sm:p-4">Calender Year</th>
          @if (interestPayoutType === InterestPayoutType.Maturity) {
          <th scope="col" class="p-2 py-3 text-center sm:p-4">
            Opening Balance
          </th>
          }
          <th scope="col" class="p-2 py-3 text-center sm:p-4">
            Yearly Interest
          </th>
          <th scope="col" class="p-2 py-3 text-center sm:p-4">
            Total Interest
          </th>
          @if (interestPayoutType === InterestPayoutType.Maturity) {
          <th scope="col" class="p-2 py-3 text-center sm:p-4">
            Closing Balance
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (summary of annualSummary; track summary.year) {
        <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
          <td scope="col" class="p-2 py-3 text-center sm:p-4">
            {{ summary.year }}
          </td>
          @if (interestPayoutType === InterestPayoutType.Maturity) {
          <td scope="col" class="p-2 py-3 text-center sm:p-4">
            {{ summary.openingBalance | number : '1.0-0' }}
          </td>
          }
          <td scope="col" class="p-2 py-3 text-center sm:p-4">
            {{ summary.yearlyInterestEarned | number : '1.0-0' }}
          </td>
          <td scope="col" class="p-2 py-3 text-center sm:p-4">
            {{ summary.totalInterestEarned | number : '1.0-0' }}
          </td>
          @if (interestPayoutType === InterestPayoutType.Maturity) {
          <td scope="col" class="p-2 py-3 text-center sm:p-4">
            {{ summary.closingBalance | number : '1.0-0' }}
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </section>
  } @if (activeTab === Tabs.COMPOUNDING_SUMMARY && compoundingSummary.length >
  0) {
  <section
    class="mt-4 w-full rounded-lg bg-white p-4 shadow md:p-6 dark:bg-gray-800"
  >
    <div
      #compoundingSummaryChartContainer
      class="relative w-full bg-white dark:bg-gray-800"
      [ngClass]="isChartInFullscreen ? 'h-full' : 'h-80'"
    >
      <canvas
        #compoundingSummaryChart
        baseChart
        [type]="ChartType.BAR"
        [data]="compoundingSummaryChartData"
        [options]="compoundingSummaryChartOptions"
        [class.m-4]="isChartInFullscreen"
      >
      </canvas>

      <div
        class="absolute"
        [ngClass]="isChartInFullscreen ? 'block bottom-2 right-3' : 'block sm:hidden -bottom-3 -right-1'"
      >
        <button
          (click)="toggleFullscreen(Charts.COMPOUNDING_SUMMARY)"
          type="button"
          class="rounded-lg p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          @if (isChartInFullscreen) {
          <span class="sr-only">Minimize</span>

          <svg
            class="h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 9h4m0 0V5m0 4L4 4m15 5h-4m0 0V5m0 4 5-5M5 15h4m0 0v4m0-4-5 5m15-5h-4m0 0v4m0-4 5 5"
            />
          </svg>
          } @else {
          <span class="sr-only">Expand</span>

          <svg
            class="h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"
            />
          </svg>
          }
        </button>
      </div>
    </div>
  </section>

  <section class="mt-6">
    <div class="relative overflow-x-auto rounded-lg">
      <table
        class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
      >
        <thead
          class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Compounding Date
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Opening Balance
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Amount Deposited
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Interest Earned
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Closing Balance
            </th>
          </tr>
        </thead>
        <tbody>
          @for (summary of compoundingSummary.slice((compoundingSummaryPage *
          pageSize), (compoundingSummaryPage * pageSize) + pageSize >
          compoundingSummary.length ? compoundingSummary.length :
          (compoundingSummaryPage * pageSize) + pageSize); track summary.date) {
          <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.date | date: 'MMM yy' }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.openingBalance | number: '1.0-0' }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.amountDeposited | number: '1.0-0' }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.interestEarned | number: '1.0-0' }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.closingBalance | number: '1.0-0' }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mt-2 flex flex-col items-center">
      <span class="text-sm text-gray-700 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ (compoundingSummaryPage * pageSize) + 1 }}</span
        >
        to
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ (compoundingSummaryPage * pageSize) + pageSize >
          compoundingSummary.length ? compoundingSummary.length :
          (compoundingSummaryPage * pageSize) + pageSize}}</span
        >
        of
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ compoundingSummary.length }}</span
        >
        Entries
      </span>
      <div class="xs:mt-0 mt-2 inline-flex">
        <button
          (click)="compoundingSummaryPage = compoundingSummaryPage - 1"
          [disabled]="compoundingSummaryPage === 0"
          class="inline-flex h-8 items-center justify-center rounded-s bg-gray-800 px-3 text-sm font-medium text-white hover:bg-gray-900 disabled:pointer-events-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <svg
            class="me-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4"
            />
          </svg>
          Prev
        </button>
        <button
          (click)="compoundingSummaryPage = compoundingSummaryPage + 1"
          [disabled]="((compoundingSummaryPage * pageSize) + pageSize) >= compoundingSummary.length"
          class="flex h-8 items-center justify-center rounded-e border-0 border-s border-gray-700 bg-gray-800 px-3 text-sm font-medium text-white hover:bg-gray-900 disabled:pointer-events-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Next
          <svg
            class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </button>
      </div>
    </div>
  </section>
  } @if (activeTab === Tabs.PAYOUT_SCHEDULE && payoutSchedule.length > 0) {
  <section class="mt-6">
    <div class="relative overflow-x-auto rounded-lg">
      <table
        class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
      >
        <thead
          class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Payment Date
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Payment Amount
            </th>
          </tr>
        </thead>
        <tbody>
          @for (payout of payoutSchedule.slice((payoutSchedulePage * pageSize),
          (payoutSchedulePage * pageSize) + pageSize > payoutSchedule.length ?
          payoutSchedule.length : (payoutSchedulePage * pageSize) + pageSize);
          track payout.date) {
          <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ payout.date | date: 'MMM yy' }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ payout.interest | number: '1.0-0' }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mt-2 flex flex-col items-center">
      <span class="text-sm text-gray-700 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ (payoutSchedulePage * pageSize) + 1 }}</span
        >
        to
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ (payoutSchedulePage * pageSize) + pageSize > payoutSchedule.length
          ? payoutSchedule.length : (payoutSchedulePage * pageSize) +
          pageSize}}</span
        >
        of
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ payoutSchedule.length }}</span
        >
        Entries
      </span>
      <div class="xs:mt-0 mt-2 inline-flex">
        <button
          (click)="payoutSchedulePage = payoutSchedulePage - 1"
          [disabled]="payoutSchedulePage === 0"
          class="inline-flex h-8 items-center justify-center rounded-s bg-gray-800 px-3 text-sm font-medium text-white hover:bg-gray-900 disabled:pointer-events-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <svg
            class="me-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4"
            />
          </svg>
          Prev
        </button>
        <button
          (click)="payoutSchedulePage = payoutSchedulePage + 1"
          [disabled]="((payoutSchedulePage * pageSize) + pageSize) >= payoutSchedule.length"
          class="flex h-8 items-center justify-center rounded-e border-0 border-s border-gray-700 bg-gray-800 px-3 text-sm font-medium text-white hover:bg-gray-900 disabled:pointer-events-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Next
          <svg
            class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </button>
      </div>
    </div>
  </section>
  } @if (activeTab === Tabs.FINANCIAL_YEAR_SUMMARY &&
  financialYearSummary.length > 0) {
  <section
    class="mt-4 w-full rounded-lg bg-white p-4 shadow md:p-6 dark:bg-gray-800"
  >
    <div
      #financialYearSummaryChartContainer
      class="relative w-full bg-white dark:bg-gray-800"
      [ngClass]="isChartInFullscreen ? 'h-full' : 'h-80'"
    >
      <canvas
        #financialYearSummaryChart
        baseChart
        [type]="ChartType.BAR"
        [data]="financialYearSummaryChartData"
        [options]="financialYearSummaryChartOptions"
        [class.m-4]="isChartInFullscreen"
      >
      </canvas>

      <div
        class="absolute"
        [ngClass]="isChartInFullscreen ? 'block bottom-2 right-3' : 'block sm:hidden -bottom-3 -right-1'"
      >
        <button
          (click)="toggleFullscreen(Charts.FINANCIAL_YEAR_SUMMARY)"
          type="button"
          class="rounded-lg p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          @if (isChartInFullscreen) {
          <span class="sr-only">Minimize</span>

          <svg
            class="h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 9h4m0 0V5m0 4L4 4m15 5h-4m0 0V5m0 4 5-5M5 15h4m0 0v4m0-4-5 5m15-5h-4m0 0v4m0-4 5 5"
            />
          </svg>
          } @else {
          <span class="sr-only">Expand</span>

          <svg
            class="h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"
            />
          </svg>
          }
        </button>
      </div>
    </div>
  </section>

  <section class="mt-6">
    <div class="relative overflow-x-auto rounded-lg">
      <table
        class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
      >
        <thead
          class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Financial Year
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Opening Balance
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Amount Deposited
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Interest Earned
            </th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">
              Closing Balance
            </th>
          </tr>
        </thead>
        <tbody>
          @for (summary of financialYearSummary; track
          summary.financialYearLabel) {
          <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.financialYearLabel }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.openingBalance | number: '1.0-0' }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.amountDeposited | number: '1.0-0' }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.interestEarned | number: '1.0-0' }}
            </td>
            <td scope="col" class="p-2 py-3 text-center sm:p-4">
              {{ summary.closingBalance | number: '1.0-0' }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
  }
</div>
