<div class="flex h-full flex-col p-4">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
    <div
      routerLink="/{{ Routes.LOAN_EMI_CALCULATOR }}"
      class="cursor-pointer rounded-lg border border-gray-200 bg-white px-4 py-12 shadow-sm dark:border-gray-700 dark:bg-gray-800"
    >
      <div class="w-full">
        <h3
          class="text-2xl font-bold leading-none text-gray-900 dark:text-white"
        >
          Loan EMI Calculator
        </h3>
      </div>
    </div>
  </div>
</div>
