<div class="flex min-h-full flex-col p-4 text-gray-500 dark:text-gray-400">
  <h2
    class="m-4 mt-0 block text-center text-2xl font-semibold text-gray-900 sm:mt-4 sm:mb-8 dark:text-white"
  >
    Loan EMI Calculator
  </h2>

  <form (ngSubmit)="calculateAmortization()">
    <section class="mb-6 grid grid-cols-1 md:grid-cols-2 md:gap-10">
      <main>
        <div class="mb-6 flex">
          <label
            class="block flex-1 text-sm font-medium text-gray-900 dark:text-white"
            >Interest Rate Type</label
          >
          <div class="flex">
            <div class="me-4 flex items-center">
              <input
                id="floating"
                type="radio"
                name="interest-rate-type"
                [(ngModel)]="interestRateType"
                [value]="InterestRateType.FLOATING"
                (change)="calculateAmortization()"
                class="text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 h-4 w-4 border-gray-300 bg-gray-100 focus:ring-2 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800"
              />
              <label
                for="floating"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Floating</label
              >
            </div>
            <div class="flex items-center">
              <input
                id="fixed"
                type="radio"
                name="interest-rate-type"
                [(ngModel)]="interestRateType"
                [value]="InterestRateType.FIXED"
                (change)="calculateAmortization()"
                class="text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 h-4 w-4 border-gray-300 bg-gray-100 focus:ring-2 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800"
              />
              <label
                for="fixed"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Fixed</label
              >
            </div>
          </div>
        </div>

        <div class="mb-6">
          <label
            for="principal"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Principal Amount</label
          >
          <input
            type="number"
            id="principal"
            [(ngModel)]="principalAmount"
            (change)="calculateAmortization()"
            name="principal"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>

        <div class="mb-6">
          <label
            for="interest"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Annual Interest Rate</label
          >
          <input
            type="number"
            id="interest"
            [(ngModel)]="annualInterestRate"
            (change)="calculateAmortization()"
            name="interest"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>

        <div class="mb-6">
          <label
            for="tenure"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Loan Term (years)</label
          >
          <input
            type="number"
            id="tenure"
            [(ngModel)]="loanTermYears"
            (change)="calculateAmortization()"
            name="tenure"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>

        <div class="mb-6">
          <label
            for="loan-start-date"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Loan Start Date</label
          >
          <div class="relative">
            <div
              class="pointer-events-none absolute inset-y-0 inset-s-0 flex items-center ps-3.5"
            >
              <svg
                class="h-4 w-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                />
              </svg>
            </div>
            <input
              #loanStartDateInput
              type="text"
              id="loan-start-date"
              [ngModel]="loanStartDate | date : 'dd/MM/yyyy'"
              (ngModelChange)="onLoanStartDateChange($event)"
              name="loan-start-date"
              class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2.5 ps-10 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="DD/MM/YYYY"
              required
              readonly
            />
          </div>
        </div>

        <div>
          <label
            for="emi-due-day"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >EMI Due Day</label
          >
          <input
            type="number"
            id="emi-due-day"
            [(ngModel)]="emiDebitDay"
            (change)="calculateAmortization()"
            name="emi-due-day"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder=""
            required
          />
        </div>
      </main>

      <aside class="mt-6 md:mt-0">
        @if(interestRateType === InterestRateType.FLOATING) {
        <section class="mb-6">
          <h2
            class="mb-4 block text-center text-sm font-medium text-gray-900 dark:text-white"
          >
            Interest Rate Revisions
          </h2>

          <div class="grid grid-cols-4 gap-4">
            <div class="flex items-center justify-center">
              <h2
                class="block text-xs font-medium text-gray-900 dark:text-white"
              >
                Month
              </h2>
            </div>
            <div class="flex items-center justify-center">
              <h2
                class="block text-xs font-medium text-gray-900 dark:text-white"
              >
                Interest
              </h2>
            </div>
            <div class="flex items-center justify-center">
              <h2
                class="block text-xs font-medium text-gray-900 dark:text-white"
              >
                Adjust
              </h2>
            </div>
            <div class="flex items-center justify-center">
              <h2
                class="block text-xs font-medium text-gray-900 dark:text-white"
              >
                Add/Remove
              </h2>
            </div>
            @if (rateChanges.length > 0) { @for (change of rateChanges; track
            change.month; let i = $index) {
            <div class="flex items-center justify-center">
              <input
                type="number"
                [value]="change.month"
                name="revised-month-{{ i }}"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                disabled
              />
            </div>
            <div class="flex items-center justify-center">
              <input
                type="number"
                [value]="change.newRate"
                name="revised-interest-{{ i }}"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                disabled
              />
            </div>
            <div class="flex items-center justify-center">
              <select
                name="revised-adjustment-type-{{ i }}"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                disabled
              >
                <option
                  [value]="RevisionAdjustmentType.TENURE"
                  [selected]="change.adjustmentType === RevisionAdjustmentType.TENURE"
                >
                  Tenure
                </option>
                <option
                  [value]="RevisionAdjustmentType.EMI"
                  [selected]="change.adjustmentType === RevisionAdjustmentType.EMI"
                >
                  EMI
                </option>
              </select>
            </div>
            <div class="flex items-center justify-center">
              <button
                type="button"
                (click)="removeRateChange(i)"
                class="border-primary-700 text-primary-700 hover:bg-primary-700 focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:bg-primary-500 dark:focus:ring-primary-800 inline-flex items-center rounded-full border p-1 text-center text-sm font-medium hover:text-white focus:ring-4 focus:outline-hidden dark:hover:text-white"
              >
                <svg
                  class="h-4 w-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h14"
                  />
                </svg>
                <span class="sr-only">Remove</span>
              </button>
            </div>
            }} @else {
            <div
              class="col-span-4 rounded-md bg-yellow-50 p-4 text-sm text-yellow-800 dark:bg-gray-800 dark:text-yellow-300"
            >
              To add interest rate revision, click the below + button.
            </div>
            }

            <div class="flex items-center justify-center">
              <input
                type="number"
                [(ngModel)]="rateChangeMonth"
                name="revised-month"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required
              />
            </div>
            <div class="flex items-center justify-center">
              <input
                type="number"
                [(ngModel)]="rateChangeNewRate"
                name="revised-interest"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required
              />
            </div>
            <div class="flex items-center justify-center">
              <select
                name="revised-adjustment-type"
                [ngModel]="rateChangeAdjustmentType"
                (ngModelChange)="onRateChangeAdjustmentTypeChange($event)"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              >
                <option [value]="RevisionAdjustmentType.TENURE">Tenure</option>
                <option [value]="RevisionAdjustmentType.EMI">EMI</option>
              </select>
            </div>
            <div class="flex items-center justify-center">
              <button
                type="button"
                (click)="addRateChange()"
                class="border-primary-700 text-primary-700 hover:bg-primary-700 focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:bg-primary-500 dark:focus:ring-primary-800 inline-flex items-center rounded-full border p-1 text-center text-sm font-medium hover:text-white focus:ring-4 focus:outline-hidden dark:hover:text-white"
              >
                <svg
                  class="h-4 w-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h14m-7 7V5"
                  />
                </svg>
                <span class="sr-only">Add</span>
              </button>
            </div>
          </div>
        </section>
        }

        <section>
          <h2
            class="mb-4 block text-center text-sm font-medium text-gray-900 dark:text-white"
          >
            Prepayments
          </h2>

          <div class="grid grid-cols-4 gap-4">
            <div class="flex items-center justify-center">
              <h2
                class="block text-xs font-medium text-gray-900 dark:text-white"
              >
                Month
              </h2>
            </div>
            <div class="flex items-center justify-center">
              <h2
                class="block text-xs font-medium text-gray-900 dark:text-white"
              >
                Amount
              </h2>
            </div>
            <div class="flex items-center justify-center">
              <h2
                class="block text-xs font-medium text-gray-900 dark:text-white"
              >
                Adjust
              </h2>
            </div>
            <div class="flex items-center justify-center">
              <h2
                class="block text-xs font-medium text-gray-900 dark:text-white"
              >
                Add/Remove
              </h2>
            </div>
            @if (prepayments.length > 0) { @for (prepayment of prepayments;
            track prepayment.month; let i = $index) {
            <div class="flex items-center justify-center">
              <input
                type="number"
                [value]="prepayment.month"
                name="prepayment-month-{{ i }}"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                disabled
              />
            </div>
            <div class="flex items-center justify-center">
              <input
                type="number"
                [value]="prepayment.amount"
                name="prepayment-amount-{{ i }}"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                disabled
              />
            </div>
            <div class="flex items-center justify-center">
              <select
                name="prepayment-adjustment-type-{{ i }}"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                disabled
              >
                <option
                  [value]="RevisionAdjustmentType.TENURE"
                  [selected]="prepayment.adjustmentType === RevisionAdjustmentType.TENURE"
                >
                  Tenure
                </option>
                <option
                  [value]="RevisionAdjustmentType.EMI"
                  [selected]="prepayment.adjustmentType === RevisionAdjustmentType.EMI"
                >
                  EMI
                </option>
              </select>
            </div>
            <div class="flex items-center justify-center">
              <button
                type="button"
                (click)="removePrepayment(i)"
                class="border-primary-700 text-primary-700 hover:bg-primary-700 focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:bg-primary-500 dark:focus:ring-primary-800 inline-flex items-center rounded-full border p-1 text-center text-sm font-medium hover:text-white focus:ring-4 focus:outline-hidden dark:hover:text-white"
              >
                <svg
                  class="h-4 w-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h14"
                  />
                </svg>
                <span class="sr-only">Remove</span>
              </button>
            </div>
            } } @else {
            <div
              class="col-span-4 rounded-md bg-yellow-50 p-4 text-sm text-yellow-800 dark:bg-gray-800 dark:text-yellow-300"
            >
              To add prepayment, click the below + button.
            </div>
            }

            <div class="flex items-center justify-center">
              <input
                type="number"
                [(ngModel)]="prepaymentMonth"
                name="prepayment-month"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required
              />
            </div>
            <div class="flex items-center justify-center">
              <input
                type="number"
                [(ngModel)]="prepaymentAmount"
                name="prepayment-amount"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required
              />
            </div>
            <div class="flex items-center justify-center">
              <select
                name="prepayment-adjustment-type"
                [ngModel]="prepaymentAdjustmentType"
                (ngModelChange)="onPrepaymentAdjustmentTypeChange($event)"
                class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-md border border-gray-300 bg-gray-50 p-2 text-xs text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              >
                <option [value]="RevisionAdjustmentType.TENURE">Tenure</option>
                <option [value]="RevisionAdjustmentType.EMI">EMI</option>
              </select>
            </div>
            <div class="flex items-center justify-center">
              <button
                type="button"
                (click)="addPrepayment()"
                class="border-primary-700 text-primary-700 hover:bg-primary-700 focus:ring-primary-300 dark:border-primary-500 dark:text-primary-500 dark:hover:bg-primary-500 dark:focus:ring-primary-800 inline-flex items-center rounded-full border p-1 text-center text-sm font-medium hover:text-white focus:ring-4 focus:outline-hidden dark:hover:text-white"
              >
                <svg
                  class="h-4 w-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h14m-7 7V5"
                  />
                </svg>
                <span class="sr-only">Add</span>
              </button>
            </div>
          </div>
        </section>
      </aside>
    </section>

    <div class="flex w-full justify-center md:mt-0">
      <button
        type="submit"
        class="bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 w-full rounded-md px-5 py-2.5 text-center text-sm font-medium text-white focus:ring-4 focus:outline-hidden sm:w-auto"
      >
        Calculate
      </button>
    </div>
  </form>

  @if (monthlyPayment) {
  <h3
    class="mt-10 text-center text-xl leading-none font-bold tracking-tight text-gray-900 dark:text-white"
  >
    Monthly Payment =
    <mark
      class="rounded-sm bg-blue-600 px-2 py-1 text-2xl font-extrabold text-white dark:bg-blue-500"
      >{{ monthlyPayment | number : "1.0-0" }}</mark
    >
  </h3>

  <section
    class="mt-6 w-full rounded-md bg-white p-4 shadow-sm md:p-6 dark:bg-gray-800"
  >
    <h2
      class="mb-4 block text-center text-sm font-medium text-gray-900 dark:text-white"
    >
      Principal & Interest Breakdown
    </h2>
    <div class="relative mt-6">
      <div
        class="absolute -top-5 left-0 flex h-full w-full flex-col items-center justify-center"
      >
        <div class="text-2xl font-bold text-black dark:text-white">
          {{ totalPayments | number:'1.0-0' }}
        </div>
        <div>Total</div>
      </div>
      <div class="relative h-80 w-full">
        <canvas
          #paymentsChart
          baseChart
          [type]="ChartType.DOUGHNUT"
          [data]="paymentsChartData"
          [options]="paymentsChartOptions"
        >
        </canvas>
      </div>
    </div>
  </section>
  }

  <nav class="mt-4">
    <!-- Tabs Select -->
    <div class="mt-6 flex items-center sm:hidden">
      <label
        for="tabs"
        class="me-2 text-xl font-bold text-gray-900 dark:text-white"
        >View</label
      >
      <select
        id="tabs"
        [ngModel]="activeTab"
        (ngModelChange)="onTabChange($event)"
        class="flex-1 rounded-md border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      >
        <option [value]="Tabs.AMORTIZATION_SCHEDULE">
          Amortization Schedule
        </option>
        <option [value]="Tabs.FINANCIAL_YEAR_SUMMARY">
          Financial Year Summary
        </option>
        @if (interestRateType === InterestRateType.FLOATING &&
        rateChanges.length > 0) {
        <option [value]="Tabs.INTEREST_RATE_REVISIONS">
          Interest Rate Revisions
        </option>
        }
      </select>
    </div>

    <!-- Tabs -->
    <ul
      class="mt-6 hidden flex-wrap border-b border-gray-200 text-center text-sm font-medium text-gray-500 sm:flex dark:border-gray-700 dark:text-gray-400"
    >
      <li class="me-2" (click)="activeTab = Tabs.AMORTIZATION_SCHEDULE">
        <p
          class="inline-block cursor-pointer rounded-t-lg p-4"
          [class.active]="activeTab === Tabs.AMORTIZATION_SCHEDULE"
        >
          Amortization Schedule
        </p>
      </li>
      <li class="me-2" (click)="activeTab = Tabs.FINANCIAL_YEAR_SUMMARY">
        <p
          class="inline-block cursor-pointer rounded-t-lg p-4 hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300"
          [class.active]="activeTab === Tabs.FINANCIAL_YEAR_SUMMARY"
        >
          Financial Year Summary
        </p>
      </li>
      @if (interestRateType === InterestRateType.FLOATING && rateChanges.length
      > 0) {
      <li class="me-2" (click)="activeTab = Tabs.INTEREST_RATE_REVISIONS">
        <p
          class="inline-block cursor-pointer rounded-t-lg p-4 hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300"
          [class.active]="activeTab === Tabs.INTEREST_RATE_REVISIONS"
        >
          Interest Rate Revisions
        </p>
      </li>
      }
    </ul>
  </nav>

  @if(activeTab === Tabs.AMORTIZATION_SCHEDULE && amortizationSchedule.length >
  0) {
  <section
    class="mt-4 w-full rounded-md bg-white p-4 px-2 shadow-sm md:p-6 dark:bg-gray-800"
  >
    <div
      #emiChartContainer
      class="relative w-full bg-white dark:bg-gray-800"
      [ngClass]="isChartInFullscreen ? 'h-full' : 'h-96'"
    >
      <canvas
        #emiChart
        baseChart
        [type]="ChartType.LINE"
        [data]="emiChartData"
        [options]="emiChartOptions"
        [plugins]="emiAndRevisionsChartPlugins || []"
        [class.m-4]="isChartInFullscreen"
      >
      </canvas>

      <div
        class="absolute"
        [ngClass]="isChartInFullscreen ? 'block bottom-2 right-3' : 'block sm:hidden -bottom-3 -right-1'"
      >
        <button
          (click)="toggleFullscreen(Charts.EMI)"
          type="button"
          class="rounded-md p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          @if (isChartInFullscreen) {
          <span class="sr-only">Minimize</span>

          <svg
            class="h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 9h4m0 0V5m0 4L4 4m15 5h-4m0 0V5m0 4 5-5M5 15h4m0 0v4m0-4-5 5m15-5h-4m0 0v4m0-4 5 5"
            />
          </svg>
          } @else {
          <span class="sr-only">Expand</span>

          <svg
            class="h-6 w-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"
            />
          </svg>
          }
        </button>
      </div>
    </div>
  </section>

  <section class="mt-6 pb-4 sm:pb-0">
    <div class="relative overflow-x-auto rounded-md">
      <table
        class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
      >
        <thead
          class="bg-gray-50 text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">EMI</th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Month</th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Payment</th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Principal</th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Interest</th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Balance</th>
          </tr>
        </thead>
        <tbody>
          @for (payment of amortizationSchedule.slice((amortizationSchedulePage
          * pageSize), (amortizationSchedulePage * pageSize) + pageSize >
          amortizationSchedule.length ? amortizationSchedule.length :
          (amortizationSchedulePage * pageSize) + pageSize); track
          payment.month) {
          <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
            <td class="p-2 text-center sm:p-4">{{ payment.month }}</td>
            <td class="p-2 text-center whitespace-nowrap sm:p-4">
              {{ payment.paymentDate | date : "MMM yy" }}
            </td>
            <td class="p-2 text-center sm:p-4">
              @if (payment.month === 0) {
              <span
                class="cursor-help underline decoration-yellow-400 decoration-dotted"
                data-tooltip-target="tooltip-pre-emi-payment"
                data-tooltip-placement="bottom"
                >{{ payment.payment | number : "1.0-0" }}</span
              >

              <div
                id="tooltip-pre-emi-payment"
                role="tooltip"
                class="tooltip invisible absolute z-50 inline-block max-w-sm rounded-md bg-yellow-400 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-xs transition-opacity duration-300 dark:bg-yellow-500"
              >
                Interest needs to be paid for the period between loan start date
                and first EMI due date.
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
              } @else { {{ payment.payment | number : "1.0-0" }} }
            </td>
            <td class="p-2 text-center sm:p-4">
              {{ payment.principal | number : "1.0-0" }}
            </td>
            <td class="p-2 text-center sm:p-4">
              {{ payment.interest | number : "1.0-0" }}
            </td>
            <td class="p-2 text-center sm:p-4">
              {{ payment.balance | number : "1.0-0" }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mt-2 flex flex-col items-center">
      <span class="text-sm text-gray-700 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ (amortizationSchedulePage * pageSize) + 1 }}</span
        >
        to
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ (amortizationSchedulePage * pageSize) + pageSize >
          amortizationSchedule.length ? amortizationSchedule.length :
          (amortizationSchedulePage * pageSize) + pageSize}}</span
        >
        of
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ amortizationSchedule.length }}</span
        >
        Entries
      </span>
      <div class="xs:mt-0 mt-2 inline-flex">
        <button
          (click)="amortizationSchedulePage = amortizationSchedulePage - 1"
          [disabled]="amortizationSchedulePage === 0"
          class="inline-flex h-8 items-center justify-center rounded-s bg-gray-800 px-3 text-sm font-medium text-white hover:bg-gray-900 disabled:pointer-events-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <svg
            class="me-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4"
            />
          </svg>
          Prev
        </button>
        <button
          (click)="amortizationSchedulePage = amortizationSchedulePage + 1"
          [disabled]="((amortizationSchedulePage * pageSize) + pageSize) >= amortizationSchedule.length"
          class="flex h-8 items-center justify-center rounded-e border-0 border-s border-gray-700 bg-gray-800 px-3 text-sm font-medium text-white hover:bg-gray-900 disabled:pointer-events-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Next
          <svg
            class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </button>
      </div>
    </div>
  </section>
  } @if(activeTab === Tabs.FINANCIAL_YEAR_SUMMARY &&
  financialYearSummaries.length > 0) {
  <section class="mt-4 pb-4 sm:pb-0">
    <div class="relative overflow-x-auto rounded-md">
      <table
        class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
      >
        <thead
          class="bg-gray-50 text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Year</th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Principal</th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Interest</th>
            <th scope="col" class="p-2 py-3 text-center sm:p-4">Total</th>
          </tr>
        </thead>
        <tbody>
          @for (summary of
          financialYearSummaries.slice((financialYearSummaryPage * pageSize),
          (financialYearSummaryPage * pageSize) + pageSize >
          financialYearSummaries.length ? financialYearSummaries.length :
          (financialYearSummaryPage * pageSize) + pageSize); track
          summary.financialYear) {
          <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
            <td class="p-2 text-center sm:p-4">{{ summary.financialYear }}</td>
            <td class="p-2 text-center sm:p-4">
              {{ summary.totalPrincipal | number : "1.0-0" }}
            </td>
            <td class="p-2 text-center sm:p-4">
              {{ summary.totalInterest | number : "1.0-0" }}
            </td>
            <td class="p-2 text-center sm:p-4">
              {{ summary.totalAmountPaid | number : "1.0-0" }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mt-2 flex flex-col items-center">
      <span class="text-sm text-gray-700 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ (financialYearSummaryPage * pageSize) + 1 }}</span
        >
        to
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ (financialYearSummaryPage * pageSize) + pageSize >
          financialYearSummaries.length ? financialYearSummaries.length :
          (financialYearSummaryPage * pageSize) + pageSize}}</span
        >
        of
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ financialYearSummaries.length }}</span
        >
        Entries
      </span>
      <div class="xs:mt-0 mt-2 inline-flex">
        <button
          (click)="financialYearSummaryPage = financialYearSummaryPage - 1"
          [disabled]="financialYearSummaryPage === 0"
          class="inline-flex h-8 items-center justify-center rounded-s bg-gray-800 px-3 text-sm font-medium text-white hover:bg-gray-900 disabled:pointer-events-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <svg
            class="me-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4"
            />
          </svg>
          Prev
        </button>
        <button
          (click)="financialYearSummaryPage = financialYearSummaryPage + 1"
          [disabled]="((financialYearSummaryPage * pageSize) + pageSize) >= financialYearSummaries.length"
          class="flex h-8 items-center justify-center rounded-e border-0 border-s border-gray-700 bg-gray-800 px-3 text-sm font-medium text-white hover:bg-gray-900 disabled:pointer-events-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Next
          <svg
            class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </button>
      </div>
    </div>
  </section>
  } @if(interestRateType === InterestRateType.FLOATING && rateChanges.length > 0
  && activeTab === Tabs.INTEREST_RATE_REVISIONS) {
  <section class="mt-4">
    @if (interestRateType === InterestRateType.FLOATING && rateChanges.length >
    0) {
    <div
      class="mt-6 w-full rounded-md bg-white p-4 px-2 shadow-sm md:p-6 dark:bg-gray-800"
    >
      <div
        #revisionsChartContainer
        class="relative w-full bg-white dark:bg-gray-800"
        [ngClass]="isChartInFullscreen ? 'h-full' : 'h-80'"
      >
        <canvas
          #revisionsChart
          baseChart
          [type]="ChartType.LINE"
          [data]="revisionsChartData"
          [options]="revisionsChartOptions"
          [plugins]="emiAndRevisionsChartPlugins || []"
          [class.m-4]="isChartInFullscreen"
        >
        </canvas>

        <div
          class="absolute"
          [ngClass]="isChartInFullscreen ? 'block bottom-2 right-3' : 'block sm:hidden -bottom-3 -right-1'"
        >
          <button
            (click)="toggleFullscreen(Charts.REVISIONS)"
            type="button"
            class="rounded-md p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            @if (isChartInFullscreen) {
            <span class="sr-only">Minimize</span>

            <svg
              class="h-6 w-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 9h4m0 0V5m0 4L4 4m15 5h-4m0 0V5m0 4 5-5M5 15h4m0 0v4m0-4-5 5m15-5h-4m0 0v4m0-4 5 5"
              />
            </svg>
            } @else {
            <span class="sr-only">Expand</span>

            <svg
              class="h-6 w-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"
              />
            </svg>
            }
          </button>
        </div>
      </div>
    </div>
    }
  </section>
  }
</div>
