<article
  class="rounded-lg border border-gray-100 bg-white p-6 dark:border-gray-800 dark:bg-gray-900"
>
  <div class="w-full">
    <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">
      New products
    </h3>
    <span
      class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white"
      >2,340</span
    >
    <p
      class="flex items-center text-base font-normal text-gray-500 dark:text-gray-400"
    >
      <span
        class="flex items-center mr-1.5 text-sm text-green-500 dark:text-green-400"
      >
        <svg
          class="w-4 h-4"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"
          ></path>
        </svg>
        12.5%
      </span>
      Since last month
    </p>
  </div>
</article>

<article
  class="rounded-lg border border-gray-100 bg-white p-6 dark:border-gray-800 dark:bg-gray-900"
>
  <div>
    <p class="text-sm text-gray-500 dark:text-gray-400">Profit</p>

    <p class="text-2xl font-medium text-gray-900 dark:text-white">$240.94</p>
  </div>

  <div class="mt-1 flex gap-1 text-red-600">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
      />
    </svg>

    <p class="flex gap-2 text-xs">
      <span class="font-medium"> 67.81% </span>
      <span class="text-gray-500 dark:text-gray-400"> Since last week </span>
    </p>
  </div>
</article>
