<div class="p-4 flex flex-col h-full">
  @if (kpi$ | async; as kpi) {
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    @if (kpi.portfolio) {
    <div
      routerLink="/{{ routes.PORTFOLIO }}"
      class="cursor-pointer p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800"
    >
      <div class="w-full">
        <h3
          class="mb-2 text-base uppercase font-normal text-gray-500 dark:text-gray-400"
        >
          Portfolio <span class="text-xs">(Total)</span>
        </h3>
        <span
          class="text-2xl font-bold leading-none text-gray-900 dark:text-white"
          >{{ kpi.portfolio.marketValue | number: '1.2-2' }}</span
        >
        <p
          class="flex items-center text-base font-normal"
          [ngClass]="kpi.portfolio.totalProfitLoss.direction === Direction.UP ? 'text-green-500 dark:text-green-400' : 'text-red-600 dark:text-red-500'"
        >
          <span class="flex items-center mr-1.5 text-sm">
            @if (kpi.portfolio.totalProfitLoss.direction === Direction.UP) {
            <svg
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"
              ></path>
            </svg>
            } @else {
            <svg
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z"
              ></path>
            </svg>
            } {{ kpi.portfolio.totalProfitLoss.value | number: '1.2-2' }} ({{
            kpi.portfolio.totalProfitLoss.percentage | number: '1.2-2' }}%)
          </span>
        </p>

        <div class="mt-3 w-full rounded-full h-1 bg-red-600 dark:bg-red-500">
          <div
            class="h-1 rounded-l bg-green-500 dark:bg-green-400"
            [class.rounded-r]="!kpi.portfolio.totalDecline.percentage"
            [style.width]="kpi.portfolio.totalAdvance.percentage + '%'"
          ></div>
        </div>

        <div
          class="mt-1 w-full text-xs flex justify-between text-gray-500 dark:text-gray-400"
        >
          <span
            >{{ kpi.portfolio.totalAdvance.value }} ({{
            kpi.portfolio.totalAdvance.percentage | number: '1.2-2' }}%)</span
          >
          <span
            >{{ kpi.portfolio.totalDecline.value }} ({{
            kpi.portfolio.totalDecline.percentage | number: '1.2-2' }}%)</span
          >
        </div>
      </div>
    </div>

    <div
      routerLink="/{{ routes.PORTFOLIO }}"
      class="cursor-pointer p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800"
    >
      <div class="w-full">
        <h3
          class="mb-2 text-base uppercase font-normal text-gray-500 dark:text-gray-400"
        >
          Portfolio <span class="text-xs">(Day)</span>
        </h3>
        <span
          class="text-2xl font-bold leading-none text-gray-900 dark:text-white"
          >{{ kpi.portfolio.marketValue | number: '1.2-2' }}</span
        >
        <p
          class="flex items-center text-base font-normal"
          [ngClass]="kpi.portfolio.dayProfitLoss.direction === Direction.UP ? 'text-green-500 dark:text-green-400' : 'text-red-600 dark:text-red-500'"
        >
          <span class="flex items-center mr-1.5 text-sm">
            @if (kpi.portfolio.dayProfitLoss.direction === Direction.UP) {
            <svg
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"
              ></path>
            </svg>
            } @else {
            <svg
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z"
              ></path>
            </svg>
            } {{ kpi.portfolio.dayProfitLoss.value | number: '1.2-2' }} ({{
            kpi.portfolio.dayProfitLoss.percentage | number: '1.2-2' }}%)
          </span>
        </p>

        <div class="mt-3 w-full rounded-full h-1 bg-red-600 dark:bg-red-500">
          <div
            class="h-1 rounded-l bg-green-500 dark:bg-green-400"
            [class.rounded-r]="!kpi.portfolio.dayDecline.percentage"
            [style.width]="kpi.portfolio.dayAdvance.percentage + '%'"
          ></div>
        </div>

        <div
          class="mt-1 w-full text-xs flex justify-between text-gray-500 dark:text-gray-400"
        >
          <span
            >{{ kpi.portfolio.dayAdvance.value }} ({{
            kpi.portfolio.dayAdvance.percentage | number: '1.2-2' }}%)</span
          >
          <span
            >{{ kpi.portfolio.dayDecline.value }} ({{
            kpi.portfolio.dayDecline.percentage | number: '1.2-2' }}%)</span
          >
        </div>
      </div>
    </div>
    } @for (index of kpi.indices; track index.id) {
    <div
      class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800"
    >
      <div class="w-full">
        <h3 class="mb-2 text-base font-normal text-gray-500 dark:text-gray-400">
          {{ index.name }}
        </h3>
        <span
          class="text-2xl font-bold leading-none text-gray-900 dark:text-white"
          >{{ index.quote?.value | number: '1.2-2' }}</span
        >
        <p
          class="flex items-center text-base font-normal"
          [ngClass]="index.quote?.change?.direction === Direction.UP ? 'text-green-500 dark:text-green-400' : 'text-red-600 dark:text-red-500'"
        >
          <span class="flex items-center mr-1.5 text-sm">
            @if (index.quote?.change?.direction === Direction.UP) {
            <svg
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"
              ></path>
            </svg>
            } @else {
            <svg
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z"
              ></path>
            </svg>
            } {{ index.quote?.change?.value | number: '1.2-2' }} ({{
            index.quote?.change?.percentage | number: '1.2-2' }}%)
          </span>
        </p>

        <div class="mt-3 w-full rounded-full h-1 bg-red-600 dark:bg-red-500">
          <div
            class="h-1 rounded-l bg-green-500 dark:bg-green-400"
            [class.rounded-r]="!index.quote?.decline?.percentage"
            [style.width]="index.quote?.advance?.percentage + '%'"
          ></div>
        </div>

        <div
          class="mt-1 w-full text-xs flex justify-between text-gray-500 dark:text-gray-400"
        >
          <span
            >{{ index.quote?.advance?.value }} ({{
            index.quote?.advance?.percentage | number: '1.2-2' }}%)</span
          >
          <span
            >{{ index.quote?.decline?.value }} ({{
            index.quote?.decline?.percentage | number: '1.2-2' }}%)</span
          >
        </div>
      </div>
    </div>
    }
  </div>
  } @else {
  <div class="flex justify-center items-center flex-1" role="status">
    <svg
      aria-hidden="true"
      class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
  }
</div>
