@let currencyList = currencyList$ | async;

<div class="flex h-full flex-col p-4">
  <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
    Plan
  </h1>

  <div class="max-w-sm space-y-4 py-2">
    <!-- Stock -->
    <div class="relative">
      <label
        for="name"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >Company</label
      >
      <input
        type="text"
        name="name"
        id="name"
        [(ngModel)]="name"
        [disabled]="!!plan() && !isEditMode"
        class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
        placeholder="Type company name/symbol..."
        required
        autocomplete="off"
      />

      <!-- Search Results Dropdown -->
      <div
        class="absolute z-10 mt-px w-full divide-y divide-gray-100 rounded-lg bg-white shadow-sm dark:bg-gray-700"
      >
        @if (stockSearchResults$ | async; as stocks) { @if (showSearchResults &&
        stocks.length > 0 ) {
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
          @for (stock of stocks; track stock.vendorCode.mc.primary) {
          <li
            (click)="selectStock(stock)"
            class="block cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            {{ stock.name }}
          </li>
          }
        </ul>
        } }
      </div>
    </div>

    <!-- Lock-in Period -->
    <div>
      <label
        for="lock-in-peroid"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >Lock-in Period</label
      >
      <div class="grid grid-cols-3 gap-2">
        <!-- Years -->
        <div class="flex flex-col items-center sm:flex-row">
          <label
            for="lock-in-peroid-years"
            class="mb-2 block text-xs font-medium text-gray-900 sm:mb-0 sm:mr-2 dark:text-white"
            >Years</label
          >
          <input
            type="number"
            min="0"
            id="lock-in-peroid-years"
            name="lockInPeriodYears"
            [(ngModel)]="lockInPeriodYears"
            [disabled]="!!plan() && !isEditMode"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="Years"
          />
        </div>
        <!-- Months -->
        <div class="flex flex-col items-center sm:flex-row">
          <label
            for="lock-in-peroid-months"
            class="mb-2 block text-xs font-medium text-gray-900 sm:mb-0 sm:mr-2 dark:text-white"
            >Months</label
          >
          <input
            type="number"
            min="0"
            id="lock-in-peroid-months"
            name="lockInPeriodMonths"
            [(ngModel)]="lockInPeriodMonths"
            [disabled]="!!plan() && !isEditMode"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="Months"
          />
        </div>
        <!-- Days -->
        <div class="flex flex-col items-center sm:flex-row">
          <label
            for="lock-in-peroid-days"
            class="mb-2 block text-xs font-medium text-gray-900 sm:mb-0 sm:mr-2 dark:text-white"
            >Days</label
          >
          <input
            type="number"
            min="0"
            id="lock-in-peroid-days"
            name="lockInPeriodDays"
            [(ngModel)]="lockInPeriodDays"
            [disabled]="!!plan() && !isEditMode"
            class="focus:border-primary-500 focus:ring-primary-500 dark:focus:border-primary-500 dark:focus:ring-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="Days"
          />
        </div>
      </div>
    </div>

    <div>
      <label
        for="purchase-currency"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >Purchase Currency</label
      >
      <select
        id="purchase-currency"
        name="purchaseCurrency"
        [(ngModel)]="purchaseCurrency"
        [disabled]="!!plan() && !isEditMode"
        class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
        required
      >
        <option [ngValue]="null" [selected]="!purchaseCurrency()">
          Select
        </option>
        @for(currency of currencyList; track currency.code) {
        <option
          [ngValue]="currency"
          [selected]="currency.code === purchaseCurrency()?.code"
        >
          {{currency.country}} - {{ currency.code}}
        </option>
        }
      </select>
    </div>

    <div>
      <label
        for="contribution-currency"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >Contribution Currency</label
      >
      <select
        id="contribution-currency"
        name="contributionCurrency"
        [(ngModel)]="contributionCurrency"
        [disabled]="!!plan() && !isEditMode"
        class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
        required
      >
        <option [ngValue]="null" [selected]="!contributionCurrency()">
          Select
        </option>
        @for(currency of currencyList; track currency.code) {
        <option
          [ngValue]="currency"
          [selected]="currency.code === contributionCurrency()?.code"
        >
          {{currency.country}} - {{ currency.code}}
        </option>
        }
      </select>
    </div>

    <div class="flex justify-center pt-4">
      <button
        (click)="save()"
        type="submit"
        class="bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 inline-flex justify-center rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-hidden focus:ring-4"
      >
        {{ (!!plan() && !isEditMode) ? 'Edit' : 'Save' }}
      </button>
    </div>
  </div>
</div>
